body {
  overflow: scroll !important;
}

table {
  border-collapse: collapse;
  min-width: calc(100vw - 20px);
}

/* tbody {
  height: 500px !important;
  overflow: scroll;
} */

.use-tooling-api,
.action {
  text-align: center;
}

.scrolltable-cell {
  min-width: 50px;
  padding: 4px;
  word-wrap: normal;
  /* word-break: break-all; */
  border: 1px solid gray;
  overflow: auto;
  /* padding: 0 1px; */
  /* background-color: white; */
  vertical-align: top;
  box-sizing: border-box;
}

.query {
  max-width: calc(100vw - 450px);
  white-space: pre;
}

a {
  padding: 5px;
  color: rgb(0, 0, 0);
}

.search {
  margin-bottom: 10px;
  text-align: center;
}

.search input {
  min-width: 400px;
  height: 1.5rem;
}

#user-info {
  background-color: #1797c0;
  color: white;
  padding: 0 1em;
  border-radius: 0 0 10px 10px;
  margin-bottom: 8px;
}
.sf-link {
  background-color: rgb(6, 28, 63);
  border-radius: 3px;
  line-height: 2em;
  text-decoration: none;
  display: inline-block;
  padding: 2px;
  color: white;
  padding-right: 1em;
}
